body {
    padding: 30px 100px;
}
/* CALCULADORA */    
#calculadora  input {
    height: 20px;
    text-align: center;
    margin: 5px;
    width: 95px;
}
#calculadora  button {
    width: 25px;
    height: 25px;
}
#calculadora span {
    font-size: 18px;
}
#calculadora #resultadoCalculadora {
    color: green;
    font-weight: bold;
}
#calculadora #divResultado {
    display: none;
    padding-left: 95px;
}

/* RESERVA DE HOTEL */
#reservaHotel input {
    margin: 10px 0;
}

#precioLabel, #precioFinal {
    font-size: 18px;
    font-weight: bold;
}

#precioFinal {
    color: green;
}


    